<div class="container">
  <div class="row mt-5">
    <div class="col-md-10 mx-md-auto">
      <div class="text-center">
        <p class="site-color font-20 w-sp-6">HAPPY TO SEE YOU BACK !</p>
        <p class="site-color">Let’s see how your events are doing</p>
      </div>
      <div class="row">
        <div class="col-md-5">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'session_form' }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group mb-4 mt-4">
              <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control site-form-control" %>
            </div>

            <div class="form-group mb-4 mt-4">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control site-form-control" %>
            </div>

            <div class="form-group text-center">
              <%= f.submit "Sign In", class: "pl-5 pr-5 btn btn-site" %>
              <p class="mt-3">Don't have an account? <span class="site-color"><%= link_to "Sign Up", new_user_registration_path %></span></p>
            </div>
          <% end %>
        </div>
        <%= render "partials/oauth_login" %>
      </div>
    </div>
  </div>
</div>
